* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	width: 100svw;
	height: 100svh;
	margin: 0;
	padding: 0;
	column-gap: 8px;
	row-gap: 8px;
}

body>header {
	position: sticky;
	background-color: red;
	color: black;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 8px;
}

body>footer {
	position: sticky;
	background-color: blue;
	color: white;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 0px 8px;
}

body>aside {
	left: 0;
	width: min-content;
	background-color: black;
	color: white;
	overflow: auto;
	grid-column-start: 1;
	grid-column-end: 2;
	padding-right: 8px;
}

body>main {
	grid-column-start: 1;
	grid-column-end: 3;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 8px;
}

body:has(aside)>main {
	grid-column-start: 2;
}

header a:link {
	color: black;
}

aside a:link {
	color: white;
}

header a:visited {
	color: grey;
}

aside a:visited {
	color: lightgrey;
}

@media (prefers-color-scheme: dark) {
	html {
		filter: invert(100%);
	}

	img {
		filter: invert(100%);
	}
}

@media (max-width:672px) {
	body>aside {
		display: none;
	}

	body:has(aside)>main {
		grid-column-start: 1;
	}
}