body>header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: red;
	color: black;
}

body>footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: blue;
	color: white;
	direction: rtl;
}

body>aside {
	position: fixed;
	height: 100%;
	left: 0;
	width: 10%;
	background-color: black;
	color: white;
	overflow: auto;
}

header a:link {
	color: black;
}

aside a:link {
	color: white;
}

header a:visited {
	color: silver;
}

aside a:visited {
	color: silver;
}

body:has(aside)>main {
	margin-left: 10%
}

@media (prefers-color-scheme: dark) {
	html {
		filter: invert(100%);
	}

	img {
		filter: invert(100%);
	}
}