main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

main>hgroup {
	grid-column-start: 1;
	grid-column-end: -1;
}

main>section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

main>section>hgroup {
	grid-column-start: 1;
	grid-column-end: -1;
}